@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');


.logo {
    font-family: 'Megrim', cursive;
    cursor: pointer;

    text-decoration-line: overline;
    text-decoration-thickness: 3px;
}